@using HealthyBalance.Models.View;
@using Microsoft.AspNetCore.Http;
@model ActivityLogViewModel;

@{
    ViewData["Title"] = "MyFoodIntake";
    Layout = "~/Views/Shared/_MyPageLayout.cshtml";
}

<h2>Konsumtion</h2>

